/*.ant-layout-header{
    background-color: #2b542c;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub{
    background-color: #2b542c;
}


.ant-btn-primary{
    background: #2b542c;
    border-color: #2b542c;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background: #2b542c;
    border-color: #2b542c;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
    background-color: #fda21a;
}
*/



/*.headMenu{
    background-color: white!important;

}*/

.ant-card-actions > li{
    margin: 3px 0;
}
.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label, .ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-content {
    padding: 2px 6px;
}

.ticketCard-open:hover{
    background-color: #ededed;
    cursor: zoom-out;
}
.ticketCard-closed:hover{
    background-color: #ededed;
    cursor: zoom-in;
}
